@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dimensiones{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    font-family: 'Inter', sans-serif;
}
/* ------------------HEADER----------------*/
nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    font-family: 'Raleway', sans-serif;
    display: flex;
    background: #30343F;
    height: 15vh;
   justify-content: space-between;
   transition: all 0.5s ease;
}
.scroll{
background: rgba(48, 52, 63, 0.674);
}
nav .img-nav{
    width: 50%;
    padding:27px 0% 1% 8%;
}
nav .img-nav img{
    width: 250px;
    position: relative;
}
.mostrar, .ocultar{    
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
 .container-menu{
  display: flex;
  justify-content: right;
  width: 50%;
  text-align: center;
  padding: 39px 4% 0% 0%;
}
.container-menu a{
    padding-left: 9% ;
    justify-content: center;
    font-size: 1em;
    text-decoration: none;
    color: white;
    position: relative;
}
.container-menu  .icon{
    padding:4px 0 0 5px;
    color: white;
    font-size: 12px;
}
.container-menu a:hover{
    text-decoration:underline 2px white;
    text-underline-offset: 5px;
    font-size: 17px;
    transition: 1s;
}
main{
    display: flex;
    margin-top: 15vh;
}
main .form{
    display: block;
    width: 20%;
   margin: 16vh 0 0 2%;
   height: 30vh;
}
main .form form{
    width: 85%;
}

main .form form label{
    display: block;
    margin: 4% 0 3% 0;
    font-weight: 600;
}
main .form form .input{
    margin-bottom: 9%;
    display: block;
    width: 80%;
}
main .form form .select{
    margin-bottom: 5%;
    width: 80%;
}
main .form form .container-input .minmax{
    display: inline-block;
    font-size: 10px;
    min-width: 144px;
}
main .form form .container-input .minmax input{
    width: 20%;
}
main .form form .container-input .minmax input::placeholder{
    text-align: center;
}
main .form form .container-input .minmax .min{
    margin-right: 12%;
}
main .form form .container-check .check label {
display:block;
flex-direction: column;
margin: 0 0 2% 0;
font-size: 11px;
}
main .form form .container-check label{
    margin: 8% 0 4% 0;
}
main .form form .container-check .check label input{
    margin:0 2% 0 6%;
}

.container-section{
    width: 90%;
    display: block;
}
.catalogo{
    margin-top: 18vh;
    height: 60vh;
    padding: 0 0% 4% 0%;
    display: block;
    position: relative;
}
.catalogo h2{
    font-size: 1.8em;
}
.catalogo .container-carrusel{
    justify-content: space-between;
    display: flex;
    margin-top: 2%;
    align-items: center;
}
.catalogo .container-carrusel .carrusel{
    background: #ffffff;
    margin-right: 2%;
     text-align: center;
}
.catalogo .container-carrusel .carrusel .cartel{
    position: relative;
    }
    .catalogo .container-carrusel .carrusel .cartel p{
        position: absolute;
        background: #FF3333;
        color: white;
        top: 0;
        right: 0;
        font-size: 9px;
        padding: 4px 11px;
    }
.catalogo .container-carrusel .carrusel img{
    width: 70%;
}
.catalogo .container-carrusel .carrusel .title-cash{
    font-size: 13px;
    text-align: left;
    padding:3% 0% 3% 1%;
    color: #333333;
}
.catalogo .container-carrusel .carrusel .name{
    font-size: 1em;
    text-align: left;
    padding-left: 1%;
}
.catalogo .container-carrusel .carrusel .cuotas{
    text-align: left;
    padding: 0% 0 0 1%;
    color: #1D84B5;
}
main .botones{
    margin: 2% 0% 2% 27%;
    display: inline-block;
   
}
main .botones .btn{
    background: none;
    border:1px solid #a7a7a7;
    width: 30px;
    padding: 7px 0 7px 0;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
main .botones .flecha{
    color: #C4CDD5;
}
main .botones .btn-click{
    color: #FF3333;
    border: 1px solid rgb(255, 51, 51);
    background: none;
    width: 30px;
    padding: 7px 0 7px 0;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

footer{
    font-family: 'Raleway', sans-serif;
    height: 33vh;
    background:#30343F ;
}
footer .container{
    display: flex;
    width: 100%;
    height: 100%;
}
footer .container-footer{
    width: 50%;
    display: flex;
    padding: 4% 0% 60px 8%; 
    flex-direction: column;
}
footer .container-footer a{
    color: white;
    text-decoration: none;
    display: block;
   padding-bottom: 3%;
}
footer .container-img-footer{
    display: flex;
    justify-content: right;
    padding: 7% 6% 0% 0%;
    width: 100%;
}
footer .container-img-footer a img{
    width: 90px;
}
.copy{
display: block;
color: aliceblue;
text-align: center;
position: relative;
background-color:rgb(49, 49, 60) ;
padding-bottom: 1%;
}



@media(max-width:768px) {
    .mostrar, .ocultar{
        display: block; 
        color: white;  
        font-size: 25px; 
    }
  
    nav .img-nav img{
        width: 170px;
        top: 10px;
    }
    .container-menu{
        position: fixed; 
        width: 100%;
        height: 100vh;   
        background: #30343F;
        top: 0;     
        display: block;
        right:0;   
        text-align: center;
        padding: 100px 0;
        z-index: 100; 
        transform: translateX(100%);
        visibility: hidden;
    }
    .container-menu a{
        display: block;
        padding: 7% 0 7% 0;
    }
    .container-menu.visible{
        visibility: visible;
        opacity: 1;
        transition: 0.6s;
        transform: translateX(0);
    }
    .container-menu .icon{
        display: none;
    }
    .ocultar{               
        position: absolute;
        right: 40px;
        top: 40px;
        font-size: 35px;
    }
    .mostrar{
        position: relative;
        right: 10px;
        top: 30px;
    }
    main .form{
        width: 30%;
    }
    main .form form{
        font-size: 13px;
    }
    main .form form .container-input .minmax{
        display: flex;
        text-align: center;
        width: 80%;
        flex-direction: column;
    }
    main .form form .container-input .minmax .min{
        width: 100%;
        margin-bottom: 5px;
    }
    main .form form .container-check .check label, main .form form .container-input .minmax{
       font-size: 9px;
    }
    .container-section{
        text-align: center;
         width: 70%;
    }
    .catalogo{
        margin-top: 16vh;
        text-align: center;
        height: 29%;
        align-items: center;
       
    }
    .catalogo .container-carrusel{
        display: block;
        flex-direction: column;
    }
    .catalogo .container-carrusel .carrusel{
        margin-top: 5%;
    }
    .catalogo .container-carrusel .carrusel img{
        width: 150px;
    }
    .catalogo .container-carrusel .carrusel .title-cash, .catalogo .container-carrusel .carrusel .name, .catalogo .container-carrusel .carrusel .cuotas{
        text-align: center;
    }
}