@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dimensiones{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    font-family: 'Inter', sans-serif;
}
/* ------------------HEADER----------------*/
nav{
    display: flex;
    background: #30343F;
    height: 15vh;
   justify-content: space-between;
}
nav .img-nav{
    width: 50%;
    padding:27px 0% 1% 8%;
}
nav .img-nav img{
    width: 250px;
    position: relative;
}
.mostrar, .ocultar{    
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
#check{
    display: none;
}
 .container-menu{
  display: flex;
  justify-content: right;
  width: 50%;
  text-align: center;
  padding: 39px 4% 0% 0%;
}
.container-menu a{
    padding-left: 9% ;
    justify-content: center;
    font-size: 1em;
    text-decoration: none;
    color: white;
    position: relative;
}
.container-menu  .icon{
    padding:4px 0 0 5px;
    color: white;
    font-size: 12px;
}
.container-menu a:hover{
    text-decoration:underline 2px white;
    text-underline-offset: 5px;
}
/*-------------------main-------------------*/
.banner{
    background-image: url(../img/funkos-banner.webp);
    height: 60vh;
   padding:0% 0% 0% 8%;
    background-size: cover;
   background-position: center 78%;
}
.banner::before{
    content: '';
    background: rgba(37, 37, 37, 0.459);
    position: absolute;
    width: 100%;
    height: 60vh;
    left: 0;
}
.containerbanner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: white;
    position: relative;
}
.containerbanner h2{
    padding: 10px 0;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.containerbanner p{
    color: rgba(226, 227, 228, 0.876);
    padding-bottom: 3%;
    font-family: 'Raleway', sans-serif;
}
.containerbanner button{
    width: 14%;
    border-radius: 25px;
    border: none;
    padding: 0.9% 0% 0.9% 0%;
  cursor: pointer;
  background: rgb(220, 221, 221);
}
.containerbanner button:hover{
    background: white;
}
.section{
    width: 100%;
    height: 70vh;
    display: flex;
}
section .container{
    width: 85%;
    padding: 10% 0% 0% 8%;
}
section .container .container-text{
   width: 100%;
}
section .container .container-text h2{
    display: flex;
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
section .container .container-text p{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 3%;
    color: #4F4F4F;
    width: 65%;
}
section .container .border{
    border-bottom: 2px solid #FF3333;
    width: 100%;
}
section .container button{
    margin-top: 5%;
    border: none;
    background: #30343F;
    color: white;
    padding: 1.9% 6% 1.9% 6%;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}
section .container button:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
section .container-section-img{
    justify-content: right;
    display: flex;
   width: 100%;
   padding: 0% 8% 0% 0%;
}
section .container-section-img a img{
  min-width: 300px;
    width: 350px;
    height: 400px;
    min-height: 200px;
    padding-top: 11%;
}

section .container-section-img2{
    justify-content: right;
    display: flex;
   width: 100%;
   padding: 0% 8% 0% 0%;
}
.catalogo{
    height: 80vh;
    padding: 0 4% 4% 8%;
    display: block;
    background:  #FFFFF5;
    position: relative;
}
.catalogo h2{
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
}
.catalogo .container-carrusel{
    justify-content: space-between;
    display: flex;
    margin-top: 2%;
    align-items: center;
}
.catalogo .container-carrusel .carrusel{
    background: #ffffff;
    margin-right: 2%;
     text-align: center;
}
.catalogo .container-carrusel .carrusel img{
    width: 70%;
}
.catalogo .container-carrusel .carrusel .title-cash{
    font-size: 13px;
    text-align: left;
    padding:3% 0% 3% 1%;
    color: #333333;
}
.catalogo .container-carrusel .carrusel .name{
    font-size: 1em;
    text-align: left;
    padding-left: 1%;
}
.catalogo .container-carrusel .carrusel .cuotas{
    text-align: left;
    padding: 0% 0 0 1%;
    color: #1D84B5;
}
.catalogo .container-carrusel .flecha-izq, .catalogo .container-carrusel .flecha-der{
    position: absolute;
    border: none;
    box-shadow: 0.3px 0.3px 8px rgb(218, 218, 218);
    background:rgb(255, 255, 255);
    font-size: 12px;
   height: 6%;
    width: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 500;
    transition: .2s;
}
.catalogo .container-carrusel .flecha-izq{
    left: 6%;
}
.catalogo .container-carrusel .flecha-der{
    right: 4%;
}


/*-------------------footer-------------------*/
footer{
    height: 43vh;
    background:#30343F ;
}
footer .container{
    display: flex;
    width: 100%;
}
footer .container-footer{
    width: 50%;
    display: flex;
    padding: 4% 0% 60px 8%; 
    flex-direction: column;
}
footer .container-footer a{
    color: white;
    text-decoration: none;
    display: block;
   padding-bottom: 3%;
}
footer .container-img-footer{
    display: flex;
    justify-content: right;
    padding: 7% 6% 0% 0%;
    width: 100%;
}
footer .container-img-footer a img{
    width: 90px;
}
.copy{
display: block;
color: aliceblue;
text-align: center;
position: relative;
background-color:rgb(49, 49, 60) ;
padding-bottom: 1%;
}


@media(max-width:768px) {
    .mostrar, .ocultar{
        display: block; 
        color: white;  
        font-size: 25px; 
    }
    .mostrar{
        margin-right: 2%;
        display: flex;
        align-items: center;
    }
    nav .img-nav img{
        width: 170px;
    }
    .container-menu{
        position: fixed; 
        width: 100%;
        height: 100vh;   
        background: #30343F;
        top: 0;     
        display: block;
        right: -100%;   
        text-align: center;
        padding: 100px 0;
        z-index: 100; 
        transition: 1s;
    }
    .container-menu a{
        display: block;
        padding: 7% 0 7% 0;
    }
    .container-menu .icon{
        display: none;
    }
    .ocultar{               
        position: absolute;
        right: 40px;
        top: 40px;
    }
    #check:checked ~ .container-menu{ 
     right: 0;
    }
    .containerbanner button{
        width: 20%;
        font-size: 12px;
    }
    .section,.catalogo{
        height: 100%;
    }
    .section{
        display: block;
        flex-direction: column;
    }
    section .container-section-img{
        display: block;
        text-align: center;
    }
    section .container-section-img a img{
        width: 60px;
        height: 300px;
    }
    .catalogo{
        margin-top: 6%;
        text-align: center;
    }
    .catalogo .container-carrusel{
        display: block;
        flex-direction: column;
    }
    .catalogo .container-carrusel .carrusel{
        margin-top: 5%;
    }
    .catalogo .container-carrusel .carrusel img{
        width: 200px;
    }
    .catalogo .container-carrusel .carrusel .title-cash, .catalogo .container-carrusel .carrusel .name, .catalogo .container-carrusel .carrusel .cuotas{
        text-align: center;
    }
    .catalogo .container-carrusel button{
        display: none;
    }
    main .borde{
        border: 1px solid rgb(212, 210, 210);
        width: 60%;
        margin-left: 22%;
        margin-top: 10%;
    }
}
